*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.top-panel{
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    padding: 2px 0;
    display: flex;
    text-align: center;
    background-color: #252522;
    position: fixed;
}
#dropdown-manu{
    left: 0;
    position: relative;
    display: inline-block;
}
#dropdown-manu button{
    border: 0;
    padding: 0;
    outline: 0;
    background-color: #252522;
    display: none;
}
#dropdown-manu button img{
    margin: 0px 5px;
    height: 0;
    float: left;
}
.dropdown-content {
    height: 100vh;
    width: 300px;
    display: none;
    position: absolute;
    background-color: #252522;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 10px 10px;
    color: white;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    list-style: none;
    display: block;
}   

.dropdown-content a:hover {background-color: #ddd;}

#dropdown-manu:hover .dropdown-content {display: block;}

.logo{
    float: left;
    display: flex;
}
.logo img{
    height: 30px;
}
.logo a{
    text-decoration: none;
}
.logo a li{
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none; 
    padding: 5px 5px;
}
.top-panel .nav-bar{
    margin: auto;
    display: flex;
}
.top-panel .nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px; 
    font-weight: 1px;
}
.top-panel .nav-bar ul a{
    color: white;
    text-decoration: none;
}
.top-panel .nav-bar ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(200, 0, 0);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.top-panel .nav-bar ul li:hover::after{
    width: 100%;
}
.top-panel #shopping-bag img{
    height: 30px;
    float: right;
    padding: 0 0.5px;
}
.top-panel #my-list img{
    height: 25px;
    float: right;
    padding: 2px 2px;
}
.top-panel #user img{
    height: 25px;
    float: right;
    padding: 2px 2px;
}
.slide-background{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBh 50s linear infinite 5s;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("Bakemonogatari-Ep.-3.jpg");
}
@keyframes slideBh{
    0%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("anime-cityscape-landscape-scenery-5k-r6-1920x1080.jpg");
    }
    25%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("167440.jpg");
    }
    50%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("a9e8603c729f89e6d7c427b48ab74fca.png");
    }
    75%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("248981.jpg");
    }
    100%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), url("Bakemonogatari-Ep.-3.jpg");
    }
}

#books-icon img{
    height: 30px;
    margin-top: 100px;
}
.search-bar input{
    margin: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 7px;
    height: 20px;
    width: 250px;
}

.content{
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.book-category{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.book-container{
    display: flex;
    padding: 10px 10px;
    height: 200px;
    overflow: scroll;
}
.book-container::-webkit-scrollbar{
    display: none;
}
.book-container a{
    text-decoration: none;
}
#salebook-category .book-container{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), chocolate;
}
#hotbook-category .book-container{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), darkred;
}
#newbook-category .book-container{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)),  lightseagreen;
}
#most-revievedbook-category .book-container{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.1)), darkblue;
}

.book-post{
    width: 250px;
    height: 150px;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #252522;
    border-image-width: auto;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    font-size: 0;
}
.book-post:hover{
    width: 300px;
    height: 185px;
    margin: auto;
    display: flex;
    font-size: 11px;
}
.book-post img{
    height: 150px;
    float: left;
}
.book-detail{
    display: inline;
}
.book-detail .book-description{
    color: white;
    padding: 5px 5px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.book-detail .book-description #book-title{
    font-size: medium;
}
.book-detail .book-description #book-author{
    font-size: small;
    padding: 2px 2px;
}
.book-detail .book-description #book-preview{
    padding: 2px 2px;
}
.book-detail #book-price{
    right: 0;
    float: right;
    margin: 5px 5px;
    font-size: 12px;
    color: white;
}

#salebook-category .book-post{
    background: linear-gradient(rgba(228, 113, 113, 0.2), rgb(243, 164, 164)), #feaa62;
}
#salebook-category #salebook-post h6{
    float: left;
}
#hotbook-category .book-post{
    background: linear-gradient(rgba(228, 113, 113, 0.2), rgb(243, 164, 164)), #fe4449;
}
#newbook-category .book-post{
    background: linear-gradient(rgba(228, 113, 113, 0.2), rgb(243, 164, 164)), aquamarine;
}
#most-revievedbook-category .book-post{
    background: linear-gradient(rgba(228, 113, 113, 0.2), rgb(243, 164, 164)), #79a6d9;
}







/* Patsu page */

#patsu{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0)), url("library.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#patsu #header .title{ 
    margin-top: 500px;
    padding: 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}
.Content{
    margin-top: 50px;
    background-color: black;
    color: white;
}
.Sort_Post{
    background-color: #252522;
}
.Sort_Post h4{
    display: inline-flex;
}
.Sort_Post input{
    margin-left: 15px;
}
.Post{
    margin: 100px auto;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    color: white;
    background-color: #252522;
}
.Post img{
    width: 400px;
    height: 400px;
}
.Post hr{
    margin: auto;
    margin-top: 45px;
    size: 2px;
    color: gray;
    width: 250px;
}
.profile{
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #30302f;
    display: inline-flex;
    width: inherit;
}
.profile img{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0px 10px;
    background-color: gray;
}
.Caption{
    text-align: left;
}
.comment-section{
    background-color: #30302f;
    border-radius: 10px;
    padding: 5px 5px;
    display: flex;
}
.comment-section img{
    height: 30px;
    width: 30px;
}
.vl{
    margin: 0px 5px;
    height: 35px;
    width: 2px;
    background-color: gray;
}
.comment-section .comment-box{
    padding: 5px 5px;
}
.comment-section .comment-box input{
    padding: 2px 5px;
    border: none;
    outline: none;
    height: 20px;
    width: 390px;
    border-radius: 10px;
}
.btn_upload{
    outline: 0.5px;
    border: none;
    background-color: #30302f;
}


/* book-detail */
.book-form{
    border: 20px;
    border: white;
    height: max-content;
    margin: 50px 100px;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: #30302f;
}
.book-form-detail{
    margin: auto;
    margin-top: 50px;
    padding: 30px 50px;;
    display: flex;
}
.book{
    text-align: center;
    padding: 10px 10px;
}
.book img{
    border: 2px;
    height: 250px;
    margin: auto;
}
.book hr{
    width: 200px;
    margin: auto;
}
.book a{
    text-decoration: none;
}
.book button{
    display: inline-flex;
    margin: auto;
    border: none;
    outline: none;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
    padding: 0px 2px;
    border-radius: 15px;
    background-color: slategray;
}
.book button h4{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    margin-top: 3px;
}
.book button img{
    height: 30px;
    padding: 2px 5px;
    float: right;
}
.book h4{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 5px;
}
.book-form .book-caption .title{
    color: white;
    margin: 5px 5px;
}
.book-form .book-caption {
    color: grey;
    margin: 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}


/* Contact us page */


#contact-form{
    margin: auto;
    width: max-content;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    color: white;
    background-color: #252522;
}
.Contact_Input{
    display: block;
    margin: 20px 20px;
}
.Contact_Input input {
    width: 300px;
    border: none;
    outline: none;
    color: white;
    background-color: #252522;  
}
.Contact_Input hr{
    margin: auto;
    size: 2px;
    width: 300px;
}
.Contact_Input textarea{
    border: none;
    outline: none;
    padding: 2px 2px;
    border-radius: 5px;
}
.Contact_Input textarea::-webkit-scrollbar{
    display: none;
}
.btn_Send{
    padding: 10px 20px;
    border: 0;
    font-weight: bold;
}

.location{
    width: auto;
    margin: auto;
    text-align: center;
}
.location h3{
    color: white;
    margin-top: 200px;
}

/* footer */

footer{
    height: 250px;
    text-align: center;
    padding: 15px 15px;
    display: flex;
    color: white;
    background-color: #252522;
    font-family: 'Roboto', sans-serif;
}
footer .contact-bar{
    width: 80%;
    margin: 20px 20px;
    padding: 10px 10px;
    text-align: center;
}
.contact-us .contact-detail{
    display: flex;
    text-align: left;
}
.contact-us .contact-detail img{
    height: 20px;
    margin: 5px 5px;
}
.contact-detail .contact-info{
    margin: 2px 2px;
}
.contact-detail .contact-info p{
    font-size: 15PX;
    margin: 0px 5px;
}
.contact-detail .contact-info a{
    color: gray;
    text-decoration: none;
}



/* about */
.about{
    margin: auto;
    padding: auto;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* login form */

#Login-form{
    color: white;
    background-color: black;
    text-align: center;
}
.form{
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    padding: 50px 25px;
    border-radius: 15px;
    background-color: #252522;
}
.form h3{
    position: relative;
    margin-bottom: 150px;
}
.form button{
    margin: 20px 20px;
}


@media only screen and (max-width: 1000px) {
    .top-panel{
        height: 5rem;
    }
    #dropdown-manu button{
        display: block;
    }
    #dropdown-manu button img{
        margin: 0px 5px;
        height: 5rem;
        float: left;
    }
    .dropdown-content {
        height: 100vh;
        width: 500px;
        display: none;
        position: absolute;
        background-color: #252522;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        font-size: 40px;
        margin: 20px 15px;
        color: white;
        padding: 12px 16px;
        text-align: left;
        text-decoration: none;
        list-style: none;
        display: block;
    }   
    .logo{
        margin: auto;
        float: none;
    }
    .logo img{
        height: 5rem;
    }
    .logo a li{
        margin: 5px 5px;
        font-size: 3rem;
    }
    .top-panel .nav-bar{
        display: none;
    }
    .top-panel #shopping-bag img{
        height: 5rem;
        float: right;
        padding: 0 0.5px;
    }
    .top-panel #my-list img{
        height: 4rem;
        float: right;
        padding: 2px 2px;
    }
    .top-panel #user img{
        height: 4rem;
        float: right;
        padding: 2px 2px;
    }
    #books-icon img{
        height: 6rem;
        margin-top: 300px;
    }
    .search-bar input{
        border: none;
        outline: none;
        font-size: 30px;
        margin: 5px 10px;
        border-radius: 20px;
        padding: 15px 20px;
        height: 40px;
        width: 550px;
    }
    .book-category h2{
        border: none;
        font-size: 40px;
    }
    .book-container{
        border: none;
        display: flex;
        padding: 20px 20px;
        height: 350px;
        overflow: scroll;
    }
    .book-post{
        width: 500px;
        height: 300px;
        padding: 10px 10px;
        margin: 10px 10px;
        background-color: #252522;
        border-image-width: auto;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        font-size: 0;
    }
    .book-post:hover{
        width: 600px;
        height: 400px;
        margin: auto;
        display: flex;
        font-size: 20px;
    }
    .book-post img{
        height: 300px;
        float: left;
    }
    .book-detail{
        display: inline;
    }
    .book-detail .book-description{
        color: white;
        padding: 15px 15px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
    }
    .book-detail .book-description #book-title{
        font-size: 30px;
    }
    .book-detail .book-description #book-author{
        font-size: 25px;
        padding: 5px 5px;
    }
    .book-detail .book-description #book-preview{
        padding: 5px 5px;
    }
    .book-detail #book-price{
        right: 0;
        bottom: 0;
        float: right;
        margin: 5px 5px;
        font-size: 20px;
        color: white;
    }

    .Post{
        height: 350px;
        width: 350px;
    }
    .Post .content-img{
        height: 250px;
        width: 250px;
    }
    .Post .comment-section .comment-box input{
        width: 240px;
    }

    footer{
        width: 100%;
        color: white; 
        text-align: center;
        height: max-content;
        display: inline-block;
        background-color: #252522;
        font-family: 'Roboto', sans-serif;
    }
    footer .contact-bar{
        margin: auto;
    }
    footer .contact-us{
        width: auto;
        margin: auto;
        padding: auto;
        text-align: center;
        display: flex;
    }
    footer #contact{
        float: none;
        margin: auto;
        position: unset;
        text-align: center;
        margin-top: 20px;
    }
    footer #follow{
        float: none;
        margin: auto;
        position: unset;
        text-align: center;
        margin-top: 20px;
    }
    footer .contact-us .contact-detail{
        float: none;
        margin: auto;
        text-align: center;
        display: inline-block;
        margin-top: 10px;
    }
    footer .contact-us .contact-detail img{
        float: none;
        margin: auto;
    }
    footer .contact-us .contact-detail .contact-info{
        margin: auto;
    }
    

    .book-form{
        border: white;
        height: max-content;
        margin: 100px 20px;
        padding: 0px 5px;
        border-radius: 10px;
        background-color: #252522;
    }
    .book-form-detail{
        margin: auto;
        margin-top: 50px;
        padding: 10px 20px;;
        display: unset;
        height: auto;
    }
    .book img{
        border: 2px;
        height: 500px;
        margin: auto;
    }
    .book-form-detail .book button{
        height: 80px;
        width: 200px;
        margin: 20px 20px;
    }
    .book button h4{
        font-size: 20px;
        padding: 15px 15px;
        margin: auto;
    }
    .book button img{
        height: 30px;
        padding: 2px 5px;
        float: right;
    }
}